# Core framework dependency
mcp-agent @ file://../../../  # Link to the local mcp-agent project root

# Additional dependencies specific to this example

# For server-side mcp tracing
opentelemetry-distro
opentelemetry-exporter-otlp-proto-http
openinference-instrumentation-mcp
